support non-routing EK_ROUTE_FNs

# Background

`EK_ROUTE_FN`s SHOULD NOT automatically imply forwarding is enabled.  It's easy to assume all `EK_NETWORK_NODE`s with associated `EK_ROUTE_FN`s are routers, but doing can result in PoPs (and some UTs) appearing to _route_ traffic through them when in fact PoPs (and UTs) behave like hosts: they only originate and terminate traffic, they do not forward traffic not destined to themselves.

# Proposal

To help make this clear, an explicit indication of forwarding capability (i.e. "router" vs "host" mode) needs to be added.  Several approaches might be viable, but a straightforward and standards-compatible approach is to add a `forwarding` boolean to `EK_INTERFACE` similar to [RFC 8344 section 4](https://www.rfc-editor.org/rfc/rfc8344#section-4):

```
         leaf forwarding {
           type boolean;
           default false;
           description
             "Controls IPv4 packet forwarding of datagrams received by,
              but not addressed to, this interface.  IPv4 routers
              forward datagrams.  IPv4 hosts do not (except those
              source-routed via the host).";
         }
```

and

```
         leaf forwarding {
           type boolean;
           default false;
           description
             "Controls IPv6 packet forwarding of datagrams received by,
              but not addressed to, this interface.  IPv6 routers
              forward datagrams.  IPv6 hosts do not (except those
              source-routed via the host).";
           reference
             "[RFC 4861](https://www.rfc-editor.org/rfc/rfc4861): Neighbor Discovery for IP version 6 (IPv6)
                        [Section 6.2.1](https://www.rfc-editor.org/rfc/rfc8344#section-6.2.1), IsRouter";
         }
```

# Semantics

The semantics of this field would be something along the lines of:
1. when evaluating use of an `EK_LOGICAL_PACKET_LINK` that a given `EK_INTERFACE` either `RK_ORIGINATES` or `RK_TERMINATES`, inspect the `forwarding` boolean;
1. if `false`: the link MUST NOT be used for a path that neither originates nor terminates with the associate `EK_NETWORK_NODE` or `EK_ROUTE_FN`;
1. else: proceed to other evaluation steps as appropriate (compatible payloads, available routes, et cetera).